* {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 1px 5px rgb(195, 189, 221);  
}

h1 {
  text-align: center;  
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-shadow: 0 0 5px yellowgreen, 0 0 15px yellowgreen, 0 0 30px yellowgreen, 0 0 50px yellowgreen;
}
  
p {
  font-weight: bold;
  color:rgb(74, 28, 158);
  text-shadow: 3px 3px 3px rgb(232, 231, 241);  
}

body {
  padding: 30px;
  background-image: url(../public/two-background.jpg);
  background-color: black;
}

form {
  display: flex;
  justify-content: center;
}


input {
  color: rgb(8, 7, 7);
  font-size: 1.2rem;
  width: 30rem;
  text-transform: none;
  text-align: left;
  text-shadow: none;
  border: none;
  border-radius: 20px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: rgb(233, 239, 243);
  box-shadow: 0px 1px 5px white;
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 10px white;
  transform: translateY(-3%);
}

.card p {
  padding: .5rem;
  text-align: center;
  font-size: .6rem;
}

.card img {
  max-height: 170px;
  width: 100%;
}
